body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .social-list {
  display: inline-flex;
  list-style: none;
  
}

.social-list li {
  margin-right: 1rem;
}

.social-list li:last-child {
  margin-right: 0;
}


.navigation {
  display: inline-flex;
  list-style: none;
}

.navigation li {
  margin-right: 1.5rem;
} */

